<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alunos</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <style>
    </style>
    
</head>

<body>
    <div class="container mt-4">
        <div class="card border-info">
            <div class="card-header bg-info">
                <h4>Alunos</h4>
            </div>
            <div class="card-body">
                <form name="form" id="form" method="post" th:action="@{/guarda/{id}(id=${aluno.id})}" th:object="${aluno}" enctype="multipart/form-data">
                    <label>Foto</label>
                    <br />
                    <img id="file-field" th:src="@{${aluno.getfotosPath}}" class="zoom" alt="Sem foto"/>
                    <input type="file" name="image" accept="image/png, image/jpeg" class="form-control" onchange="previewImage(event)" />

                    <input type="hidden" name="id" id="id" th:field="*{Id}" class="form-control" />
                    <label>Nome</label>
                    <input type="text" name="nome" id="nome" th:field="*{Nome}" class="form-control"/>
                    <label>Email</label>
                    <input type="text" name="email" id="email" th:field="*{Email}" class="form-control" />
                    <label>Nacionalidade</label>
                    <input type="text" name="nacionalidade" id="nacionalidade" th:field="*{Nacionalidade}" class="form-control" />
                    <br />
                    <div id="feedback"></div>
                    <div class="float-right">
                        <button type="submit" name="submit" id="submit" class="btn btn-success" onclick="saveData()">Guardar</button>
                        <a href="/" class="btn btn-primary">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        function saveData() {
            Swal.fire({
                title: 'Adicionado com sucesso!',
                text: 'Os dados foram guardados com sucesso.',
                icon: 'success',
                showConfirmButton: false,
                timer: 1500
            });
        }
    </script>
      
    
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            var imageField = document.getElementById("file-field");

            reader.onload = function() {
                if (reader.readyState == 2) {
                    imageField.src = reader.result;
                }
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>

</html>